<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function create() {
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      const downloadBtn = document.getElementById('downloadBtn');
      downloadBtn.style.display = 'none';

      axios.post('/create', {
        email: email,
        password: password
      })
        .then(function (response) {
          console.log(response);
          downloadBtn.style.display = 'block';
        })
        .catch(function (error) {
          console.log(error);
        });
    }
    function download() {
      axios.get('/download')
        .then(function (response) {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'download.zip'); // or any other extension
          document.body.appendChild(link);
          link.click();
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  </script>
</head>

<body>
  <div class="main">
    <div class="login-form">
      <h2> google账号： </h2>
      <div> 账号： <input type="text" id="email" name="email"> </div>
      <div> 密码： <input type="password" id="password" name="password"> </div>
    </div>
  
    <div class="btn-wrap">
      <button onclick="create()" id="createBtn">create pdf files</button>
      <button onclick="download()" id="downloadBtn" style="display: none;">download</button>
    </div>
  </div>
</body>

</html>
