body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  margin: 0;
  background: #fdfdf6;
}

* {
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
  background-color: #f0f3e8;
  width: 500px;
  padding: 20px 0 40px 0;
  margin: auto;
  border-radius: 20px;
}

.login-form {
  padding: 20px;
}

.login-form div {
  padding: 10px;
}

.login-form input {
  height: 40px;
  width: 260px;
}

.btn-wrap {
  width: 100%;
  overflow: hidden;
  padding: 0 75px;
  position: relative;
}

.btn-wrap button {
  float: left;
  width: 150px;
  padding: 15px 10px;
  border: none;
  background: #d9e7cb;
  color: #131f0d;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
}
